#cnt{padding:calc(80px + 4%) 0;display:flex;align-items:center;min-height:100vh;background-color:#16141c;}

#cn{text-align:center;box-shadow:0 15px 35px rgba(0,0,0,.3);padding:calc(25px + 2%) calc(25px + 3%);border-radius:30px;z-index:999;width:80%;background:linear-gradient(120deg, #16141c, #09080b);color:#edf1f3;}
#cn h3{font-size:calc(17px + 6 * (100vw - 320px) / 1080);font-weight:800;}
#cn .p{color:#6d6681;margin:calc(10px + 1%) 0 calc(20px + 1%);font-size:calc(12px + 1 * (100vw - 320px) / 1080);}
#cn .center{margin-top:calc(10px + 1%);}

#cnt fieldset textarea,
#cnt fieldset input{color:#edf1f3!important;-webkit-text-fill-color:#edf1f3!important;}
#cnt .alert-error{color:#ff4e4e;margin-bottom:20px;font-size:calc(13px + 3 * (100vw - 320px) / 1080);}
#cnt .alert-success{color:#81ca18;font-size:calc(13px + 3 * (100vw - 320px) / 1080);}
#cnt .alert-success svg{stroke:#81ca18;width:150px;}
#cnt .alert-success + form{display:none;}

/* map */
#map{overflow:hidden;flex:1;height:100%;top:0;position:absolute;width:calc(150% + 10px);}
.mob #map{pointer-events:none;}
#map .marker{color:#edf1f3;font-size:calc(30px + 15 * (100vw - 320px) / 1080);display:flex;align-items:center;justify-content:center;position:absolute;z-index:200;width:calc(60px + 25 * (100vw - 320px) / 1080);height:calc(60px + 25 * (100vw - 320px) / 1080);display:flex;border-radius:50%;}
#map .marker:before{font-family:"Font Awesome 5 Pro";content:'\f60d';}
#map .mapboxgl-ctrl-bottom-right,
#map .mapboxgl-popup{display:none!important;}
#map .mapboxgl-control-container{z-index:100;border-radius:3px;overflow:hidden;position:absolute;left:100vw;transform:translateX(-100%);margin-left:calc(-10px - 10 * (100vw - 320px) / 1080);bottom:calc(10px + 10 * (100vw - 320px) / 1080);}
.mob #map .mapboxgl-control-container{display:none;}
#map .mapboxgl-ctrl-icon > .mapboxgl-ctrl-compass-arrow,
#map .mapboxgl-ctrl-icon{background:none!important;}
#map .mapboxgl-ctrl-zoom-in:before{content:"\f067";}
#map .mapboxgl-ctrl-zoom-out:before{content:"\f068";}
#map .mapboxgl-ctrl-compass:before{content:"\f14e";}
#map .mapboxgl-ctrl-group > button{background-color:#0f0f13;color:#edf1f3;width:25px;height:25px;border-radius:50%;}
#map .mapboxgl-ctrl-group > button:before{top:-1px;font-size:11px;font-family:"Font Awesome 5 Pro";font-weight:400;}
#map .mapboxgl-ctrl-group > button + button{border-top:0;margin-left:3px;}
#map .mapboxgl-ctrl-group > button span{padding-top:3px;display:inline-block;}
#map canvas{opacity:.3;}
#map .mapboxgl-canvas-container:before{content:'';width:100vw;height:300vh;position:absolute;left:0;top:0;background:linear-gradient(120deg, #16141c, #09080b);z-index:20;opacity:.2;pointer-events:none;}
