
/************* etude de cas **************/

#eu{z-index:1000;}
#eu > section{height:100vh;}
#eu .tit{display:flex;align-items:center;justify-content:center;text-align:center;}
#eu .tit .h1,
#eu .tit .hspan{font-size:calc(25px + 15 * (100vw - 320px) / 1080);}
#eu .tit .sub{margin:calc(30px + 15 * (100vw - 320px) / 1080) 0 calc(20px + 1%);font-size:calc(11px + 2 * (100vw - 320px) / 1080);text-transform:uppercase;letter-spacing:calc(2px + 1 * (100vw - 320px) / 1080)}
#eu .tit .sub h1{font-weight:300}
#eu .tit .tc{margin:auto;margin-top:calc(30px + 15 * (100vw - 320px) / 1080);}

#eu .eui{color:#edf1f3;width:100%;height:calc(350px + 200 * (100vw - 320px) / 1080);background-color:#000;overflow:hidden;}
#eu .eui .bg{position:absolute;top:0;width:100%;height:150%;left:0;}
#eu .eui .txt{position:absolute;top:0;width:100%;height:100%;left:0;z-index:5;display:flex;align-items:center;justify-content:center;text-align:center;}
#eu .eui .nm{white-space:nowrap;font-size:calc(35px + 65 * (100vw - 320px) / 1080);text-align:center;font-weight:800;color:#edf1f3;z-index:10;line-height:.9;}
#eu .eui .txt ul{margin-top:calc(10px + 5 * (100vw - 320px) / 1080);color:#edf1f3;display:flex;flex-wrap:wrap;align-content:center;justify-content:center;font-size:calc(11px + 3 * (100vw - 320px) / 1080);font-weight:400;padding:0 20px;}
#eu .eui .txt ul li:not(:last-child):after{vertical-align:middle;margin:0 7px;top:-1px;content:'';display:inline-block;width:3px;height:3px;background-color:#edf1f3;border-radius:50%;}


/************* etude de cas show **************/

.horiz #app{left:0;font-weight:300;width:100%;height:100vh;overflow:hidden;z-index:1;}

.ec .ct{width:auto;}
.ec{top:0;left:0;min-width:100%;display:-webkit-box;display:flex;z-index:1;min-height:100%;position:absolute;}
.ec:before{background-color:#edf1f3;width:calc(100% - 100vw);height:100%;top:0;left:0;position:absolute;content:'';}
.ec > *{height:100vh;}
.ec [data-go]{cursor:pointer;}

.ec section{display:flex;align-items:center;justify-content:center;flex:0 0 auto;}
.ec section > .ct{padding:0 12vw;}
.ec .h2{font-size:calc(20px + 15 * (100vw - 320px) / 1080);font-weight:200;}
.ec .tc + .h2{margin-top:calc(30px + 10 * (100vw - 320px) / 1080);}
.ec .cov{text-align:center;color:#edf1f3;overflow:hidden;background:linear-gradient(120deg, #16141c, #09080b);}
.ec .cov .ct{min-width:100vw;}
.ec .cov .sub{margin-bottom:calc(20px + 5 * (100vw - 320px) / 1080);font-size:calc(11px + 3 * (100vw - 320px) / 1080);text-transform:uppercase;letter-spacing:calc(2px + 1 * (100vw - 320px) / 1080)}
.ec .cov .sub h1{font-weight:300}
.ec .cov .ct{z-index:5;}
.ec .cov .h1{overflow:hidden;white-space:nowrap;font-size:calc(35px + 65 * (100vw - 320px) / 1080);text-align:center;font-weight:800;color:#edf1f3;z-index:10;line-height:1.2;}
.ec .cov .h1 span{display:block;}
.ec .cov .tc{transition:bottom .4s, opacity .4s;color:#edf1f3;position:absolute;bottom:calc(15px + 30 * (100vh - 320px) / 1080);right:calc(15px + 30 * (100vh - 320px) / 1080);z-index:10;}
.ec .cov .tc svg{fill:#edf1f3;position:absolute;z-index:10;}
.ec .cov .bg{position:absolute;top:0;left:0;width:100%;height:100%;z-index:0;background-position:center center;background-size:cover;}
.ec[data-projet="etik"] .cov .bg{background-image:url(../../img/etude/etik-nounou/cover_serco-point-web_etude-de-cas_etik-nounou.jpg);}
.ec[data-projet="tetradis"] .cov .bg{background-image:url(../../img/etude/tetradis/cover_serco-point-web_etude-de-cas_tetradis.jpg);}
.ec[data-projet="acppa"] .cov .bg{background-image:url(../../img/etude/acppa/cover_serco-point-web_etude-de-cas_acppa.jpg);}
.ec[data-projet="miniatures"] .cov .bg{background-image:url(../../img/etude/miniatures-lyon/cover_serco-point-web_etude-de-cas_miniatures-lyon.jpg);}
.ec[data-projet="fiolet"] .cov .bg{background-image:url(../../img/etude/demenagement-ac-fiolet/cover_serco-point-web_etude-de-cas_demenagement-ac-fiolet.jpg);}

.ec .pres .ct{width:auto;}
.ec .pres .hspan{margin:0 0 calc(40px + 100 * (100vh - 320px) / 1080);font-size:calc(25px + 30 * (100vw - 320px) / 1080);font-weight:200;}
.ec .pres .info{display:flex;align-items:flex-start}
.ec .pres .info > div{width:20vw;}
.ec .sb{font-weight:800;margin-bottom:calc(20px + 1%);font-size:11px;text-transform:uppercase;letter-spacing:3px;}
.ec .pres .txt{line-height:1.5;font-weight:300;font-size:calc(15px + 3 * (100vw - 320px) / 1080);}

.ec .mck img{max-height:100vh;}
.ec .mck .im{position:absolute;z-index:5;width:100%;top:0;left:0;}

.ec .mck-1{z-index:50;margin-left:calc(-200px - 100 * (100vw - 320px) / 1080);}

.ec .mck-3{z-index:50;margin:0 calc(30px + 20 * (100vw - 320px) / 1080) 0 calc(-100px - 50 * (100vw - 320px) / 1080);}
.ec .mck-3 .m2{z-index:50;}

.ec .bga{width:calc(500px + 300 * (100vw - 320px) / 1080);overflow:hidden;}
.ec .bga > div{position:absolute;top:0;left:0;width:150%;height:100%;}

.ec .part-2 .ct{width:auto;}

.ec .p{line-height:1.8;font-size:calc(12px + 1 * (100vw - 320px) / 1080);}
.ec .p > * + *{margin-top:calc(15px + 1%);}
.ec .btec{margin-top:calc(25px + 20 * (100vw - 320px) / 1080);}

.ec .desc{margin:calc(30px + 30 * (100vh - 320px) / 1080) calc(-20px - 1.5%) 0;display:flex;}
.ec .desc > div{padding:0 calc(20px + 1.5%);width:calc(250px + 150 * (100vw - 320px) / 1080);}

.ec .list-s{white-space:nowrap;margin:calc(30px + 50 * (100vh - 320px) / 1080) 0 calc(-5px - 1vh);font-size:calc(13px + 2 * (100vw - 320px) / 1080);}
.ec .list-s > div{margin-bottom:calc(5px + 1vh);}
.ec .list-s > div > div{display:inline-flex;align-items:flex-start;}
.ec .list-s i{transition:color .5s;display:flex;align-items:center;justify-content:center;font-size:calc(18px + 5 * (100vw - 320px) / 1080);margin-right:10px;border:1px solid rgba(0,0,0,.05);border-radius:50%;width:calc(40px + 5 * (100vw - 320px) / 1080);height:calc(40px + 5 * (100vw - 320px) / 1080);}
.ec .list-s > div > div:hover i{color:#edf1f3;}
.ec .list-s i:before{z-index:5;}
.ec .list-s i:after{transition:opacity .5s;opacity:0;position:absolute;top:0;left:0;border-radius:50%;width:100%;height:100%;content:'';z-index:0;}
.ec .list-s > div > div:hover i:after{opacity:1;}
.ec .list-s span{align-self:center;}

.line-ec{position:fixed;bottom:0px;left:0;z-index:999;width:100vw;height:4px;background-color:rgba(0,0,0,.1);box-shadow:0 -1px 0 rgba(0,0,0,.2);user-select:none;-moz-user-select:none;}
.line-ec .ln{height:5px;position:absolute;left:0;width:50%;top:-1px;}
.line-p{color:#edf1f3;mix-blend-mode:difference;position:absolute;bottom:0;width:100%;z-index:10;}
.line-p > div{cursor:pointer;position:absolute;bottom:0;width:1px;height:5px;background-color:rgba(255,255,255,.2);}
.line-p span{transition:.2s;font-weight:400;position:absolute;white-space:nowrap;font-size:10px;bottom:10px;transform:translateX(-100%);}
.line-p > div:hover span{font-size:12px;color:#edf1f3;}

.ec .tch{position:absolute;top:50%;left:0;transform:translate(-50%, -50%);background-color:#edf1f3;border-radius:50%;padding:10px;}

.ec .part-lg .ct{display:flex;align-items:center;}
.ec .part-lg .lgs{display:flex;align-items:center;margin-left:12vw;}
.ec .part-lg .lgs img{width:calc(200px + 100 * (100vw - 320px) / 1080);margin-left:calc(40px + 30 * (100vw - 320px) / 1080);}
.ec .part-lg .lgsp img{width:calc(300px + 200 * (100vw - 320px) / 1080);box-shadow:0 10px 50px rgba(0,0,0,.05);}
.ec .part-lg .lgsp img.imah{width:calc(300px + 500 * (100vw - 320px) / 1080);}

.ec .resul{color:#edf1f3;background:linear-gradient(120deg, #16141c, #09080b);}
.ec .resul .chif{display:flex;margin-top:calc(25px + 10 * (100vw - 320px) / 1080);}
.ec .resul .chif > *{text-align:center;display:flex;align-items:center;text-align:left;margin-right:calc(40px + 15 * (100vw - 320px) / 1080);}
.ec .resul .tit{margin-left:20px;font-size:calc(14px + 4 * (100vw - 320px) / 1080);font-weight:bold;}
.ec .resul .tit small{font-size:calc(12px + 1 * (100vw - 320px) / 1080);font-weight:bold;display:block;margin-bottom:4px;}
.ec .resul svg{fill:none;stroke-linecap:round;stroke-dasharray:0 999;fill:transparent;stroke-width:2px;opacity:0;}
.ec .resul .nmb{margin:auto;width:calc(75px + 15 * (100vw - 320px) / 1080);}
.ec .resul .nmb strong{font-size:calc(16px + 3 * (100vw - 320px) / 1080);position:absolute;top:50%;left:50%;transform:translate(-50%, -50%);display:block;text-align:center;width:100%;}
.ec .resul .nmb.m3 strong:before{content:'3,';}
.ec .resul .nmb.percent strong:after{content:'%';}
.ec .resul .nmb.plus strong:before{content:'+';}
.ec .resul .nmb.minus strong:before{content:'-';}

.ec .nxt{width:100vw;overflow:hidden;}
.ec .nxt .tc{color:#edf1f3;transition:color .2s;z-index:100;}
.ec .nxt svg{fill:#edf1f3;}
.ec .nxt .bg{position:absolute;top:0;height:100%;width:100%;z-index:0;}
