/************* landing **************/
    
    #land{background-color:#edf1f3;}
    #land .alert{padding:calc(15px + 5 * (100vw - 320px) / 1080);text-align:center;background:linear-gradient(120deg, #16141c, #09080b);color:#edf1f3;font-size:calc(12px + 2 * (100vw - 320px) / 1080);}
    #land .alert-success{color:#9bdf43;}
    #land .alert-error{color:#ef5151;}
    #land .alert button{opacity:.7;margin-left:5px;background:#edf1f3;color:#16141c;border-radius:25px;font-weight:bold;padding:3px 8px;}
    #land .alert button:hover{opacity:1;}

    #land [data-anim]{transform:translateY(100px);opacity:0;}
    #land [data-anim-r]{transform:translateX(100px);opacity:0;}

    #land .land-l{position:fixed;top:0;pointer-events:none;height:100vh;width:100%;color:#edf1f3;overflow:hidden;display:flex;align-items:center;z-index:9999;justify-content:center;}
    #land .land-l svg{fill:#f1f4f4;}
    #land .land-l .logo{opacity:0;z-index:1000;width:calc(150px + 150 * (100vw - 320px) / 1080);position:absolute;top:50%;transform:translateY(-50%);}
    
    #land .land-t{height:100vh;width:100%;color:#edf1f3;overflow:hidden;display:flex;align-items:center;}
    #land .land-t .cache{transform:translateY(50%);pointer-events:none;background:url(../../img/landing/land-t.svg) center bottom no-repeat;background-size:100% auto;content:"";position:absolute;top:1px;left:0;width:100%;height:100%;z-index:5;}
    #land .land-t .bg{transform:scale(3);background:url(../../img/landing/bg.jpg) no-repeat center center;background-size:cover;position:absolute;bottom:0;left:0;width:100%;height:100%;z-index:0;}
    #land .land-t .l > *{transform:translateY(150px);opacity:0;}
    #land .land-t .land-logo{margin-bottom:calc(20px + 5 * (100vw - 320px) / 1080);}
    #land .land-t .land-logo svg{fill:#fff;width:200px;}

    #land #we{position:absolute;z-index:50;width:60vw;height:100%;right:calc(0px + 20 * (100vw - 320px) / 1080);pointer-events:none;}
    #land #we > div{position:absolute;left:0;width:100%;bottom:0;}
    #land #we .we-c{transform:translateY(-130%) rotate(-70deg);opacity:0;}
    #land #we img{width:100%;}
    #land #we .sm{background-color:#f1f4f4;width:59.5%;height:49%;top:14%;left:20%;transform:rotateY(20deg) rotateX(5deg) skewY(-6deg) skewX(6deg);}
    #land #we .sm .smc_a{background-color:#e4e9e9;}
    #land #we .smc .smc_c2{background-color:#f1f4f4;}
    #land #we .smc .smc_u li > div, #land #we .smc .smc_s-sub, #land #we .smc .smc_c3 div, #land #we .smc .smc_f > div{background-color:#abafaf;}
    #land #we .sm .smc_h, #land #we .smc_cv{background-color:#fff;}
    #land #we .smc_cv div{background-color:#f1f4f4;}
    #land #we .smc .smc_s-tit, 
    #land #we .smc .fi{background:linear-gradient(to left, #33a7dc, #8a38ed, #fa238e, #fc3249, #ff8036)!important;}
    #land #we .smc .smc_lg > div:nth-child(1), #land #we .smc .smc_ul div:nth-child(1) > span{background:linear-gradient(to right, #33a7dc, #8a38ed)!important;}
    #land #we .smc .smc_lg > div:nth-child(2), #land #we .smc .smc_ul div:nth-child(2) > span{background:linear-gradient(to right, #8a38ed, #fc3249)!important;}
    #land #we .smc .smc_lg > div:nth-child(3), #land #we .smc .smc_ul div:nth-child(3) > span{background:linear-gradient(to right, #fc3249, #ff8036)!important;}
    #land #we .smc .smc_a-c li{margin-top:7%;background-color:#abafaf;}
    #land #we .smc .smc_a-c li.fi{margin-top:10%;}
    #land #we .smc .smc_ul{top:185%;height:26%;}
    #land #we .smc .smc_ul span > span{border-color:#fff;width:calc(15px + 15 * (100vw - 320px) / 1080);height:calc(15px + 15 * (100vw - 320px) / 1080);}
    #land #we .smc .smc_c4{top:145%;}

    #land .land-t .l{z-index:100;padding-left:10vw;}
    #land .land-t .sub{font-size:calc(10px + 2 * (100vw - 320px) / 1080);letter-spacing:calc(1px + 2 * (100vw - 320px) / 1080);text-transform:uppercase;}
    #land .land-t h1{margin-top:calc(20px + 5 * (100vw - 320px) / 1080);font-size:calc(18px + 18 * (100vw - 320px) / 1080);line-height:1.3;font-weight:200;}
    #land .land-t h1 > span{display:block;overflow:hidden;}
    #land .land-t h1 > span + span{margin-top:calc(-5px - 5 * (100vw - 320px) / 1080);}
    #land .land-t h1 > span:nth-child(2){font-size:135%;font-weight:800;}
    #land .but{box-shadow:0 10px 20px rgba(0,0,0,.2);animation:1s butb infinite linear;pointer-events:auto;font-size:calc(13px + 2 * (100vw - 320px) / 1080);margin-top:calc(35px + 10 * (100vw - 320px) / 1080);transition:.2s;display:inline-block;overflow:hidden;color:#f1f4f4;background:linear-gradient(120deg, #16141c, #09080b);font-weight:bold;padding:calc(12px + 5 * (100vw - 320px) / 1080) calc(18px + 5 * (100vw - 320px) / 1080) calc(13px + 5 * (100vw - 320px) / 1080);border-radius:40px;}
    #land .but-mx{font-size:calc(15px + 3 * (100vw - 320px) / 1080);padding:calc(15px + 5 * (100vw - 320px) / 1080) calc(21px + 5 * (100vw - 320px) / 1080) calc(16px + 5 * (100vw - 320px) / 1080);}
    #land .but:active{transform:scale(.9);}
    #land .but span{z-index:5;}
    #land .but:after{animation:fcs 5s infinite linear;transition:height .5s;width:1000%;background:linear-gradient(to left, #33a7dc, #8a38ed, #fa238e, #fc3249, #ff8036, #fc3249, #fa238e, #8a38ed, #33a7dc, #8a38ed, #fa238e, #fc3249, #ff8036);content:"";position:absolute;bottom:-1px;left:0;height:4px;z-index:0;}
    #land .but:hover:after{height:calc(100% + 3px);}

    @keyframes fcs{
        0%{transform:translateX(0%);}
        100%{transform:translateX(-50%);}
    }
    @keyframes butb{
        0%{box-shadow:0 0 0 0 rgba(0,0,0,.3), 0 10px 20px rgba(0,0,0,.2);}
        90%{box-shadow:0 0 0 15px rgba(0,0,0,0), 0 10px 20px rgba(0,0,0,.2);}
        100%{box-shadow:0 0 0 15px rgba(0,0,0,0), 0 10px 20px rgba(0,0,0,.2);}
    }


    #land .tx{color:#666;}
    #land .land-u{z-index:2000;padding:calc(35px + 10 * (100vw - 320px) / 1080) 0;}
    #land .land-u .ct{max-width:100%;width:80vw;}
    #land .land-u ul{display:flex;text-align:center;font-size:calc(14px + 2 * (100vw - 320px) / 1080);justify-content:space-around;margin:calc(0px + 50 * (100vw - 320px) / 1080) 0;}
    #land .land-u ul > *{width:25%;}
    #land .land-u ul .ic{color:#fff;font-size:calc(40px + 10 * (100vw - 320px) / 1080);border-radius:50%;width:calc(70px + 35 * (100vw - 320px) / 1080);height:calc(70px + 35 * (100vw - 320px) / 1080);display:flex;align-items:center;justify-content:center;margin:0 auto calc(20px + 10 * (100vw - 320px) / 1080);}
    #land .land-u ul svg{fill:transparent;stroke-dasharray:0 999;stroke:#f9224b;stroke-width:2px;width:calc(100% + 16px);max-width:calc(100% + 16px);top:-8px;position:absolute;}
    #land .land-u ul strong{display:block;font-weight:800;font-size:140%;margin-top:5px;}
    #land .land-u .b-c{text-align:center;margin-top:calc(25px + 10 * (100vw - 320px) / 1080);}
    #land .land-u .b-c .but{margin-top:0;}

    #land .drg1, #land .land-txt .bloc:nth-child(1) h3 strong:before, .drgb1 strong:before{background:linear-gradient(to right, #33a7dc, #8a38ed)!important;}
    #land .drg2, #land .land-txt .bloc:nth-child(2) h3 strong:before, .drgb2 strong:before{background:linear-gradient(to right, #8a38ed, #fa238e)!important;}
    #land .drg3, #land .land-txt .bloc:nth-child(3) h3 strong:before, .drgb3 strong:before{background:linear-gradient(to right, #fa238e, #fc3249)!important;}
    #land .drg4, #land .land-txt .bloc:nth-child(4) h3 strong:before, .drgb4 strong:before{background:linear-gradient(to right, #fc3249, #ff8036)!important;}
    #land .drgor, .drgbor strong:before{background:linear-gradient(to right, #ffc107, #ff9907)!important;}

    #land .land-he{text-align:center;margin-bottom:calc(35px + 20 * (100vw - 320px) / 1080);}
    #land .land-he .sub{font-size:calc(10px + 2 * (100vw - 320px) / 1080);letter-spacing:calc(1px + 2 * (100vw - 320px) / 1080);text-transform:uppercase;}
    #land .land-he .sub > span > span{background-color:#16141c;position:absolute;top:0;right:0;width:100%;height:100%;z-index:0;}
    #land .land-he h2{margin-top:calc(10px + 5 * (100vw - 320px) / 1080);font-weight:800;font-size:calc(18px + 10 * (100vw - 320px) / 1080);}
    #land .land-he h2 strong, #land .land-txt h3 strong{font-weight:inherit;display:inline-block;}
    #land .land-he h2 strong:before, #land .land-txt h3 strong:before{background:linear-gradient(to right, #33a7dc, #8a38ed);content:"";position:absolute;bottom:0;left:0;width:100%;height:30%;z-index:0;transform:translateY(-10%);border-radius:3px;}
    
    #land .land-tx{height:100vh;position:absolute;left:0;width:100%;top:50%;transform:translateY(-50%);pointer-events:none;}
    #land .land-tx .mckc{position:absolute;top:0;height:100%;width:100%;}
    #land .land-tx .mckt{pointer-events:none;position:absolute;bottom:0;right:45vw;width:70vw;min-width:calc(600px + 200 * (100vw - 320px) / 1080);}
    #land .land-tx .mckt img{width:100%;max-width:100%;}
    #land .land-tx .mck2{position:absolute;top:0;left:0;transform:translateY(-40%);}

    #land .land-txt{padding:calc(50px + 50 * (100vw - 320px) / 1080) 0;padding-left:58vw;padding-right:8vw}
    #land .land-txt .bloc + .bloc{margin-top:calc(35px + 60 * (100vw - 320px) / 1080)!important;}
    #land .land-txt .bloc + *{margin-top:calc(25px + 30 * (100vw - 320px) / 1080);}
    #land .land-txt h3{font-size:calc(18px + 8 * (100vw - 320px) / 1080);font-weight:800;margin-bottom:calc(15px + 5 * (100vw - 320px) / 1080);}
    #land .land-txt p{font-size:calc(13px + 2 * (100vw - 320px) / 1080);line-height:1.5;}

    #land .land-pr{padding:calc(40px + 50 * (100vw - 320px) / 1080) 0;}
    #land .land-pr [data-swiper="landRef"] .swiper-wrapper{align-items:center;text-align:center;}
    #land .land-pr .swiper-slide{overflow:visible;}
    #land .land-pr .swreal .swiper-slide img{width:100%;border-radius:calc(25px + 5 * (100vw - 320px) / 1080);box-shadow:0 10px 20px rgba(0,0,0,.1);}
    #land .land-pr .swref .swiper-slide{display:flex;align-items:center;justify-content:center;}
    #land .land-pr .swref .swiper-slide img{max-width:90%;}

    #land .land-av{padding:calc(40px + 50 * (100vw - 320px) / 1080) 0;background-color:#e2e9ed;}
    #land .land-av [data-swiper="landRef"] .swiper-wrapper{align-items:center;text-align:center;}
    #land .land-av .swiper-slide{overflow:visible;text-align:center;}
    #land .land-av .swav{overflow:hidden;}
    #land .land-av .swav .swiper-slide{display:flex;align-items:center;justify-content:center;}
    #land .land-av .tx{margin:calc(10px + 5 * (100vw - 320px) / 1080) 0;color:#666;font-size:calc(16px + 3 * (100vw - 320px) / 1080);font-style:italic;}
    #land .land-av .name{margin-bottom:10px;font-size:calc(15px + 2 * (100vw - 320px) / 1080);font-weight:800;}
    #land .land-av .rate svg{width:18px;}
    #land .land-av .rate svg.or{fill:#ffc107;}
    #land .land-av .rate svg.gr{fill:#666;opacity:.2;}
    
    #land .nvland{position:absolute;top:50%;pointer-events:none;left:50%;transform:translate(-50%, -50%);width:calc(100% + 200 * (100vw - 320px) / 1080);display:flex;align-items:center;justify-content:space-between;}
    #land .nvland > button{font-size:calc(16px + 5 * (100vw - 320px) / 1080);pointer-events:auto;width:calc(40px + 10 * (100vw - 320px) / 1080);height:calc(40px + 10 * (100vw - 320px) / 1080);border-radius:50%;background-color:#edf1f3;}
    #land .nvland > button.swiper-button-disabled{opacity:0;pointer-events:none;}
    #land .nvland > button:hover{background-color:#16141c;color:#edf1f3;}

    #land .land-cer{margin-top:calc(20px + 20 * (100vw - 320px) / 1080);padding:calc(40px + 70 * (100vw - 320px) / 1080) 0;background:linear-gradient(120deg, #16141c, #09080b);color:#edf1f3;}
    #land .land-cer .land-he{}
    #land .land-cer .land-he svg{margin-top:15px;fill:#edf1f3;width:calc(150px + 100 * (100vw - 320px) / 1080);max-width:80%;}
    #land .land-cer ul{display:flex;justify-content:space-around;text-align:center;align-items:flex-start;}
    #land .land-cer ul li{width:25%;max-width:25%;flex-basis:25%;padding:0 calc(30px + 20 * (100vw - 320px) / 1080);}
    #land .land-cer ul li > div{height:100%;}
    #land .land-cer ul li img{width:100%;z-index:10;}
    #land .land-cer ul svg{fill:transparent;stroke-dasharray:0 999;stroke:#f9224b;stroke-width:4px;width:87%;top:2.5%;position:absolute;left:50.2%;transform:translateX(-50%);}
    
    #land .land-co{overflow:hidden;color:#edf1f3;padding:calc(40px + 50 * (100vw - 320px) / 1080) 0;}
    #land .land-co > *{z-index:10;}
    #land .land-co .bg{transform:scale(3);background:url(../../img/landing/bg.jpg) no-repeat center center;background-size:cover;position:absolute;bottom:0;left:0;width:100%;height:100%;z-index:0;}
    #land .land-co #cn{padding:0;background:transparent;box-shadow:0 0 0;margin:auto;width:calc(400px + 100 * (100vw - 320px) / 1080);max-width:100%;}
    #land .land-co .land-he{width:calc(600px + 100 * (100vw - 320px) / 1080);max-width:90%;margin:auto;margin-bottom:calc(25px + 10 * (100vw - 320px) / 1080);font-size:calc(18px + 15 * (100vw - 320px) / 1080);}
    #land .land-co .land-he h2{font-size:calc(18px + 15 * (100vw - 320px) / 1080);}
    #land .land-co .land-he h2 strong:before{background:#16141c!important;}
    #land .land-co .land-he .txt{font-size:calc(13px + 3 * (100vw - 320px) / 1080);line-height:1.5;margin-top:calc(15px + 5 * (100vw - 320px) / 1080);}
    #land .land-co #cn .center{margin-top:0;}
    #land .land-co fieldset{color:#fff;background:rgba(255,255,255,.2);}
    #land .land-co fieldset label{color:#fff;}
    #land .land-co fieldset.txt{height:180px!important;min-height:180px!important;max-height:180px!important;}
    #land .land-co fieldset.txt textarea{overflow-y:auto;height:100%!important;min-height:100%!important;max-height:100%!important;}
    #land .infs{text-align:center;margin-top:calc(25px + 10 * (100vw - 320px) / 1080);}
    #land .land-t .infs{text-align:left;}
    #land .infs a:hover{color:#16141c;}
    #land .infs .web{letter-spacing:calc(2px + 1 * (100vw - 320px) / 1080);display:inline-block;margin-top:10px;font-size:calc(13px + 2 * (100vw - 320px) / 1080);}
    #land .infs .pho{font-weight:800;font-size:calc(16px + 10 * (100vw - 320px) / 1080);margin-top:25px;}
    #land .infs .pho i{margin-right:8px;}


/*----------------------------------------------------< MEDIA QUERIES >---------------------------------------------------*/
/************* max 1350 **************/ @media screen and (max-width:1350px){

    #land .land-cer .ct{width:90vw;}
    #land .land-cer ul li{padding:0 calc(20px + 10 * (100vw - 320px) / 1080);}

}
/************* max 1250 **************/ @media screen and (max-width:1250px){

    #land .land-u .ct{width:90vw;}

    #land #we{width:53vw;}

}
/************* max 1150 **************/ @media screen and (max-width:1150px){

    #land .land-tx{display:none;}
    #land .land-txt{padding-left:8vw;text-align:center;}

}
/************* max 1084 **************/ @media screen and (max-width:1084px){
    #land .land-u ul{flex-wrap:wrap;}
    #land .land-u ul li{width:50%;}
    #land .land-u ul li:nth-child(3),
    #land .land-u ul li:nth-child(4){margin-top:calc(25px + 10 * (100vw - 320px) / 1080);}

}
/************* max 950 **************/ @media screen and (max-width:950px){

    html:not(.horiz) #app .app-c.appet{overflow:visible;}

    #land .land-t .l{top:-5vw;padding-right:10vw;text-align:center;width:100%;}
    #land #we{display:none;}

    #land .land-t .infs{text-align:center;}

}
/************* max 850 **************/ @media screen and (max-width:850px){
    #land .land-cer ul{flex-wrap:wrap;}
    #land .land-cer ul li{width:50%;max-width:50%;flex-basis:50%;padding:calc(10px + 5 * (100vw - 320px) / 1080) calc(25px + 10 * (100vw - 320px) / 1080);}

}