
/************* equipe **************/

.nvsw{display:flex;justify-content:flex-end;margin-top:calc(20px + 2%);}
.nvsw button{width:45px;height:45px;padding-top:4px;display:flex;align-items:center;justify-content:center;border:1px solid rgba(255,255,255,.05);border-radius:50%;}
.nvsw button i{font-size:16px!important;}
.nvsw button:active{transform:scale(.95);}
.nvsw button + button{margin-left:5px;}
.nvsw svg{mix-blend-mode:normal;pointer-events:none;transition:all .8s, opacity 0s .8s;stroke-linecap:round;stroke-dasharray:0 999;fill:transparent;stroke-width:4px;position:absolute;top:-1px;left:-1px;width:calc(100% + 2px);opacity:0;}
.nvsw button:hover svg{stroke-dasharray:300 999;opacity:1;transition:all .8s, opacity 0s;transform:rotate(90deg);}

.swe{text-align:center;overflow:hidden;}
#sc .swe + h3{margin-top:calc(60px + 15 * (100vw - 320px) / 1080);}
.swe img{top:50px;width:80%;transition:.6s;}
.swe .swiper-slide:hover img{top:20px;}
.swe .bg{z-index:0;width:100%;border-radius:calc(30px + 15 * (100vw - 320px) / 1080);height:70%;position:absolute;bottom:0;left:0;}
.swe .illu{width:100%;overflow:hidden;z-index:50;}
.swe .inf{position:absolute;bottom:0;z-index:100;transition:.8s;width:100%;padding:45px calc(15px + 1%) 25px;}
.swe .swh:hover .inf{padding-bottom:45px;}
.swe .nme{font-weight:800;font-size:calc(22px + 15 * (100vw - 320px) / 1080);}
.swe .bcak{opacity:.2;white-space:nowrap;font-weight:800;font-size:calc(80px + 20 * (100vw - 320px) / 1080);position:absolute;top:50%;z-index:5;text-align:center;}
.swe .pst{font-weight:200;margin-top:10px;font-size:calc(13px + 2 * (100vw - 320px) / 1080);}
.swe .fab{opacity:0;font-size:16px;position:absolute;bottom:12px;}
.swe .swh:hover .fab{opacity:1;}
