._3_ZRuDfPNtDTC11dJJZ0ht {
    min-height: 100vh;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #afafaf;
    position: fixed;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    height: 100vh;
    //:-1}

@media(max-width: 736px) {
    ._3_ZRuDfPNtDTC11dJJZ0ht {
        position:relative
    }
}

._2nDRNO3BcSzDbKxAulMIKy {
    position: absolute;
    top: 20px;
    left: 20px;
    z-index: 2;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

._1-7GSm29aGl1-QH-DoqKJK {
    width: 102px;
    height: 102px
}

._1-7GSm29aGl1-QH-DoqKJK:hover ._1-sEiZNLip_c_7svjmO7B {
    stroke-width: 5
}

._1-sEiZNLip_c_7svjmO7B {
    transition: all 1s ease-out
}

._1P9lrhOzu5U8wPjUV0KLGY {
    text-align: center;
    position: absolute;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: row;
    flex-direction: row;
    bottom: 200px;
    z-index: 3;
    width: auto;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    display: -ms-flexbox;
    display: flex
}

@media(max-width: 736px) {
    ._1P9lrhOzu5U8wPjUV0KLGY {
        bottom:50px;
        display: flex
    }
}

._27kF3uRZicCX4MeOsUGD9C {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: 14px;
    line-height: 24px;
    letter-spacing: normal;
    position: relative;
    overflow: hidden;
    padding-right: 10px
}

._3By98vziakxdy7E3TDdJC8 {
    display: block
}

._2VWXdwaKkZcoAW5RYyDqEO {
    width: 22px;
    height: 22px;
    margin-right: 20px;
    line-height: 24px;
    text-align: center
}

._2rwoFyaehO26itDVMiSiFl {
    width: 100px;
    height: 1px
}

._1CVlzlW-BrgdJiWSx4O8Rq,._2rwoFyaehO26itDVMiSiFl {
    display: block;
    background-color: #fff;
    position: absolute;
    bottom: 0
}

._1CVlzlW-BrgdJiWSx4O8Rq {
    width: 120px;
    height: 100%;
    opacity: .5
}

._1-sEiZNLip_c_7svjmO7B {
    fill: none;
    stroke: #fff;
    stroke-width: 1;
    stroke-miterlimit: 10
}

.vYn9xj3BG6Ba-T7Mcdi_K {
    fill: #fff
}

._3L34nk1UIyT21a-dioBY5,._3TzPW8Up_BwN98krNCT4S3,._-4q-ngdgY_p9Cjnq1gyz1 {
    fill: #fff;
    visibility: hidden
}

._1ZMIj_ljofNzBikKoJn_Zz {
    font-family: GTSectraDisplay-Regular;
    color: #fff;
    font-size: 90px;
    line-height: 91px;
    font-weight: 400;
    letter-spacing: .01em;
    position: absolute;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    width: 100%;
    height: 100%;
    top: calc(50% - 100px);
    left: 0
}

@media(max-width: 736px) {
    ._1ZMIj_ljofNzBikKoJn_Zz {
        font-size:40px;
        line-height: 42px;
        top: calc(50% - 40px)
    }
}

._1kFmZx3PAM4XwfzbLMULq0 {
    font-family: Akkurat Light Pro;
    font-weight: 200;
    color: #5d5d5d;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: .04em;
    text-align: center;
    margin-top: 100px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

@media(max-width: 736px) {
    ._1kFmZx3PAM4XwfzbLMULq0 {
        font-size:18px
    }
}

._1Sq6yMMQ_nm69tyMpRfUWR {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 1;
    opacity: 0;
    background: #ff0
}

._5pcMLXE_dgbRO8ecBB7Kj {
    position: absolute;
    z-index: 2
}

._1rOlaIO74fr1QD_ieQbCR3 {
    text-align: center
}

._1q742gXSZjTDCYyxMY7EFc {
    margin-top: 10px
}

._3iEhhjEt6Msr2DC-r-waeu {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: 12px;
    margin-bottom: 20px
}

.RObS1pkZpAwTRY_MFG01_ {
    padding: 0
}

._1Dc7PCw25JIZ1Ft0U1-Bkw {
    font-family: Akkurat Light Pro;
    font-weight: 400;
    color: #fff;
    font-size: 18px;
    line-height: 20px;
    margin: 0;
    padding: 0;
    list-style: none
}

._18v4Uheys7RmSs2zmzkwEC {
    position: absolute;
    letter-spacing: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    text-align: right;
    top: 40px;
    right: 40px;
    overflow: hidden;
    z-index: 3
}

@media(max-width: 736px) {
    ._18v4Uheys7RmSs2zmzkwEC {
        display:none
    }
}

.EiQKZ15aELl0Bp-Y7jgGi {
    right: 20px;
    top: 60px;
    display: none
}

@media(max-width: 736px) {
    .EiQKZ15aELl0Bp-Y7jgGi {
        display:block
    }
}

._28aNNwME-OeklDx_mr1DCh {
    font-weight: 400;
    font-size: 14px;
    margin-bottom: 20px
}

._2HSp29Xr59Ne7fqSjKhjQe,._28aNNwME-OeklDx_mr1DCh {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: 12px;
    line-height: 20px
}

._2HSp29Xr59Ne7fqSjKhjQe {
    text-decoration: none;
    margin-bottom: 5px;
    cursor: pointer
}

._2HSp29Xr59Ne7fqSjKhjQe:hover {
    text-decoration: underline
}

._1GiKwV4sangDny_7eMGlu3 {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: 12px;
    line-height: 20px;
    opacity: .5
}

._1UoYYzgf78mmPOnY7Jmaeh {
    background-color: #fff;
    pointer-events: none
}

._1UoYYzgf78mmPOnY7Jmaeh ._1-1IvIJDKYkXNOFlNefzEZ {
    color: #000
}

._1UoYYzgf78mmPOnY7Jmaeh ._1kFmZx3PAM4XwfzbLMULq0,._1UoYYzgf78mmPOnY7Jmaeh ._1P9lrhOzu5U8wPjUV0KLGY,._1UoYYzgf78mmPOnY7Jmaeh ._2nDRNO3BcSzDbKxAulMIKy,._1UoYYzgf78mmPOnY7Jmaeh ._18v4Uheys7RmSs2zmzkwEC {
    display: none
}

._1-1IvIJDKYkXNOFlNefzEZ {
    height: 70px;
    line-height: 90px;
    display: inline-block
}

._2TOCo0CE09qn_ql2GxjYjE {
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    background-color: #fff;
    position: absolute;
    width: 100%;
    height: 100vh;
    z-index: 99;
    display: -ms-flexbox;
    display: flex;
    overflow: hidden;
    -webkit-clip-path: inset(0 0 0 0);
    clip-path: inset(0 0 0 0);
    transition: all .8s cubic-bezier(.215,.61,.355,1)
}

._39N-_0ODBGzLpqxT-6A6RC {
    opacity: 0
}

.nIKvud5TuUORhqb17--hN {
    font-family: GTSectraDisplay-Regular;
    color: #222;
    font-size: 90px;
    line-height: 91px;
    font-weight: 400;
    letter-spacing: .01em;
    position: absolute;
    width: 100%;
    height: 100%;
    top: calc(50% - 100px);
    left: 0
}

._2svdqDrVUK5gaHkWJIj09C,.nIKvud5TuUORhqb17--hN {
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

._2svdqDrVUK5gaHkWJIj09C {
    font-family: Akkurat Light Pro;
    font-weight: 200;
    color: #5d5d5d;
    font-size: 24px;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: .04em;
    margin-top: 100px
}

._3vxqZ8egHwWjMlC1TMQq4Z {
    width: 120px;
    height: 120px;
    position: absolute
}

._15SIm99A83gcMH0mBrxpf3 {
    top: 70%;
    left: 22%;
    margin-top: -60px;
    margin-left: -60px
}

._3xE3T59t3zLcRxTKbidLwA {
    position: absolute;
    top: 50%;
    z-index: 3;
    width: 100%;
    margin-top: -10px
}

.o8Ko5lDRR10fFd1HuipB_ {
    fill: none;
    stroke: #222;
    stroke-width: 1;
    stroke-miterlimit: 10;
    stroke-dasharray: 440;
    stroke-dashoffset: 440
}

._30XGIZ3lc37x4H0jnaAA8Q {
    fill: #222;
    visibility: visible
}

._1O7sLv_erp0M1tALIOzCMa,._25cPcDXz67a08IsEZZxfGN,._115BTlKpEaXuikp_Nu3jQb {
    fill: #222;
    visibility: hidden
}

._15SIm99A83gcMH0mBrxpf3 {
    position: absolute;
    width: 120px;
    height: 120px
}

._7I-ugYZQHIUW7L-A_K1Qf {
    background-color: #000;
    min-height: 100vh;
    height: 100vh;
    margin-top: 100vh!important;
    overflow: hidden
}

._7I-ugYZQHIUW7L-A_K1Qf header {
    color: #fff;
    margin-top: 120px;
    margin-left: 100px
}

._7I-ugYZQHIUW7L-A_K1Qf header h2 {
    font-family: GTSectraDisplay-Regular;
    color: #fff;
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px
}

._7I-ugYZQHIUW7L-A_K1Qf header .DZwm_5lU-s-9J7QESKqwC {
    display: block;
    width: 100%;
    height: 1px;
    background-color: #fff
}

._1p24W_jBqS3EvY12HXADz3 {
    width: 100%;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 8%
}

.LRyK0NpbQinHiF78bqI41 {
    position: absolute!important;
    top: 30%;
    right: 20%;
    width: 375px
}

.LRyK0NpbQinHiF78bqI41 img {
    width: 100%;
    height: auto;
    position: absolute;
    clip: rect(397px 375px 397px 0)
}

blockquote {
    position: absolute!important;
    left: 25%;
    bottom: 22vh;
    height: auto
}

blockquote p {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: 14px;
    line-height: 20px
}

blockquote span {
    display: block
}

._3n3S1onKVIyPcG1eie4-Av {
    margin-left: 50px
}

._3G1sRjqbIlgiIWTlKHLgkz {
    margin-left: 96px
}

._1S23BxmLu3MpsuSQoZnljX {
    margin-left: 181px
}

.a7Pnst-M1TWaH5cbyMFxZ {
    margin-left: 299px
}

.works-section {
    max-width: 1380px;
    margin: 0 auto;
    min-height: 100vh;
    overflow: hidden;
    position: relative;
    margin-bottom: 25vh
}

.works-wrapper {
    margin-top: 20vh;
    padding: 0 3.75%;
    position: relative;
    z-index: 2
}

.works-wrapper .background {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0
}

.works-wrapper .background.isProjectHovered {
    z-index: 4;
    opacity: 1
}

sidebar {
    position: absolute;
    height: 100vh;
    top: 0;
    right: 22px;
    width: 50px;
    z-index: 100;
    pointer-events: none;
    padding-top: 40px;
    padding-bottom: 40px
}

@media(max-width: 736px) {
    sidebar {
        right:0
    }
}

sidebar .sidebar_wrapper {
    position: absolute
}

sidebar .sidebar_wrapper .sidebar_mask {
    height: 36px;
    overflow: hidden
}

@media(max-width: 736px) {
    sidebar .sidebar_wrapper .sidebar_mask {
        height:24px
    }
}

sidebar .sidebar_wrapper .digit {
    display: inline-block
}

sidebar .sidebar_wrapper .divider {
    margin-left: 15px
}

sidebar .sidebar_wrapper span {
    font-family: GTSectraDisplay-Regular;
    color: #1e1e1e;
    font-size: 30px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: .01em;
    display: block
}

@media(max-width: 736px) {
    sidebar .sidebar_wrapper span {
        font-size:20px;
        line-height: 24px
    }
}

.section-background {
    background-color: #000;
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    opacity: 0
}

.section-background.isProjectHovered {
    opacity: 1
}

.work-focus {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    z-index: 3;
    pointer-events: none
}

.work-focus h2 {
    text-transform: uppercase;
    font-family: Akkurat Pro;
    color: #222;
    font-size: 4.392386530014641vw;
    line-height: 4.392386530014641vw;
    font-weight: 700;
    letter-spacing: .04em;
    color: #fff;
    position: absolute;
    top: 100px;
    left: -60px
}

.work-focus h2.right {
    top: 40px;
    right: 60px;
    -ms-transform: translateX(100%);
    transform: translateX(100%)
}

.work-focus .focus-desc-wrapper {
    position: absolute;
    width: 14%;
    bottom: 30px;
    right: 12%
}

.work-focus .focus-desc-wrapper p {
    font-family: Maison Neue Mono;
    color: #fff;
    opacity: 1;
    font-size: 1.0248901903367496vw;
    line-height: 1.0248901903367496vw;
    line-height: 18px;
    margin-left: auto
}

.work-focus .focus-role-wrapper {
    position: absolute;
    width: 12%;
    bottom: 20px;
    right: 2%
}

.work-focus .focus-role-wrapper li {
    list-style: none;
    margin-bottom: 10px
}

.work-focus .focus-role-wrapper li h5 {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: .8784773060029283vw;
    line-height: .8784773060029283vw;
    font-weight: 400;
    margin-bottom: 5px
}

.work-focus .focus-role-wrapper li p {
    font-family: Akkurat Light Pro;
    color: #fff;
    font-size: .8784773060029283vw;
    line-height: .8784773060029283vw;
    font-weight: 200;
    letter-spacing: .04em;
    margin-bottom: 3px
}

.project-container {
    -ms-flex-direction: row!important;
    flex-direction: row!important
}

@media(max-width: 736px) {
    .project-container {
        -ms-flex-direction:column!important;
        flex-direction: column!important;
        padding: 0!important
    }
}

.quote {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.quote h3 {
    font-family: GTSectraDisplay-Light;
    color: #2f2f2f;
    font-size: 20px;
    font-weight: 400;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: .05em;
    opacity: 1
}

.image {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.image img {
    width: 100%;
    height: auto;
    margin-top: -46px
}

.work-item {
    z-index: 3;
    min-height: 90vh;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    -ms-flex-direction: column;
    flex-direction: column;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

.work-item .work-item_wrapper {
    width: 100%;
    display: block;
    position: relative
}

.work-item.grid__col-10 {
    margin-bottom: 200px
}

@media(max-width: 736px) {
    .work-item.grid__col-10 {
        margin-bottom:140px
    }
}

@media(max-width: 736px) {
    .work-item {
        min-height:0
    }
}

.work-item.small-title .title-back h2,.work-item.small-title .work-asset .work-title h2 {
    font-size: 22px
}

.work-item .season {
    font-family: Maison Neue Mono;
    color: #fff;
    font-size: 20px;
    font-weight: 400;
    letter-spacing: .03em;
    text-transform: uppercase;
    position: absolute;
    right: -21px;
    top: 15px;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    z-index: 12;
    color: #000;
    max-width: 50px
}

@media(max-width: 736px) {
    .work-item .season {
        display:none
    }
}

.work-item .work-asset {
    cursor: pointer;
    line-height: 0;
    position: relative;
    padding-top: 60.74%
}

.work-item .work-asset .work-asset_wrapper {
    width: 100%!important;
    height: auto!important;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 1;
    overflow: hidden
}

.work-item .work-asset .work-infos {
    opacity: 0;
    display: none;
    min-width: 310px;
    width: 50%!important;
    height: auto!important;
    position: absolute;
    top: 0;
    left: 40%;
    right: 0;
    bottom: 0;
    z-index: 12;
    opacity: 1;
    line-height: normal;
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center
}

@media(max-width: 736px) {
    .work-item .work-asset .work-infos {
        left:0
    }
}

.work-item .work-asset .work-infos .infos-description {
    font-family: Maison Neue Mono;
    color: #000;
    font-size: 11px;
    line-height: 16px;
    font-weight: 400
}

.work-item .work-asset .work-infos ul {
    padding: 0;
    margin-top: 20px
}

.work-item .work-asset .work-infos ul li {
    list-style: none
}

.work-item .work-asset .work-infos ul li .info-title {
    font-family: Akkurat Pro;
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    letter-spacing: .05em;
    opacity: 1
}

.work-item .work-asset .work-infos ul li p {
    font-family: Akkurat Pro;
    color: #2f2f2f;
    font-size: 12px;
    font-weight: 400;
    margin-bottom: 5px;
    letter-spacing: .05em;
    opacity: .5
}

.work-item .work-asset .video-player {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 9;
    opacity: 1
}

.work-item .work-asset .video-player video {
    width: 100%;
    height: auto
}

@media(max-width: 736px) {
    .work-item .work-asset .video-player {
        pointer-events:auto
    }
}

.work-item .work-asset canvas {
    pointer-events: none
}

.work-item .work-asset .title-wrapper {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 1
}

.work-item .work-asset .title-wrapper h3 {
    font-family: Maison Neue Mono;
    color: #000;
    font-size: 80px;
    font-weight: 400;
    opacity: 1
}

.work-item .work-asset .work-mask_click {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    bottom: 0;
    opacity: 0;
    z-index: 9
}

@media(max-width: 736px) {
    .work-item .work-asset .work-mask_click {
        display:none
    }
}

.work-item .work-asset .work-mask {
    position: absolute;
    width: 30%;
    height: 100%;
    background: #fff;
    top: -1px;
    bottom: 0;
    left: -1px;
    z-index: 10
}

.work-item .work-asset .work-mask.right {
    right: -1px;
    left: auto
}

.work-item .work-asset .work-mask.top {
    height: 10%;
    width: 100%;
    bottom: auto
}

.work-item .work-asset .work-mask.bottom {
    height: 10%;
    width: 100%;
    bottom: -1px;
    top: auto
}

.work-item .work-asset .work-background {
    background-color: #a5a5a5;
    z-index: 10
}

.work-item .work-asset .work-background,.work-item .work-asset .work-title {
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0
}

.work-item .work-asset .work-title {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    z-index: 11
}

.work-item .work-asset .work-title h2 {
    font-family: GTSectraDisplay-Regular;
    color: #fff;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: .01em
}

@media(max-width: 736px) {
    .work-item .work-asset .work-title h2 {
        font-size:22px;
        text-align: center
    }
}

.work-item .title-back {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    pointer-events: none;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 1
}

.work-item .title-back h2 {
    font-family: GTSectraDisplay-Regular;
    color: #1e1e1e;
    font-size: 32px;
    line-height: 36px;
    font-weight: 400;
    letter-spacing: .01em
}

@media(max-width: 736px) {
    .work-item .title-back h2 {
        font-size:22px;
        text-align: center
    }
}

.work-item .work-desc {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    -ms-flex-align: center;
    align-items: center;
    position: relative;
    pointer-events: none
}

.work-item .work-desc .desc-wrapper {
    width: 100%
}

.work-item .work-desc h2 {
    font-family: Akkurat Pro;
    color: #222;
    font-size: 12px;
    font-weight: 700;
    margin-top: 15px;
    margin-bottom: 5px;
    text-transform: uppercase;
    letter-spacing: .05em
}

.work-item .work-desc p {
    font-family: Maison Neue Mono;
    color: #222;
    font-size: 12px;
    font-weight: 400;
    opacity: .5
}

.work-item .work-desc h4 {
    font-family: Maison Neue Mono;
    color: #222;
    opacity: .2;
    font-size: 20px;
    margin-left: auto
}

.work-item .link-wrapper {
    position: absolute;
    right: 0;
    bottom: 0;
    margin-top: 15px;
    overflow: hidden;
    height: 50px;
    bottom: -62px
}

@media(max-width: 736px) {
    .work-item .link-wrapper {
        left:0;
        top: 220px;
        bottom: auto;
        text-align: left
    }
}

.work-item .link-wrapper ul {
    padding: 0
}

.work-item .link-wrapper li {
    list-style: none;
    margin-bottom: 1px
}

@media(max-width: 736px) {
    .work-item .link-wrapper li {
        margin-bottom:2px
    }
}

.work-item .link-wrapper li a {
    font-family: Maison Neue Mono;
    color: #000;
    opacity: .4;
    font-size: 12px;
    line-height: 16px;
    text-decoration: none
}

.progress__wrapper {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: 99;
    width: 400px;
    height: 600px;
    -ms-transform: translateX(-200px) translateY(-100px);
    transform: translateX(-200px) translateY(-100px);
    transition: transform 2s linear
}

.progress__wrapper canvas {
    position: absolute
}

._3XTpv6Wg91s3JdkBjuDaZ4 {
    background-color: #000;
    min-height: 100vh
}

@media(max-width: 736px) {
    ._3XTpv6Wg91s3JdkBjuDaZ4 {
        -ms-flex-direction:column;
        flex-direction: column
    }
}

._1vboeqAV6NzxwtpHrgHfLa {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    //:8.3%;margin-bottom: 130px;
}

@media(max-width: 736px) {
    ._1vboeqAV6NzxwtpHrgHfLa {
        width:100%!important
    }
}

._2OzXITTXufYJNZ-lnovIQ {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: center;
    justify-content: center;
    -ms-flex-direction: column;
    flex-direction: column;
    -ms-flex-align: center;
    align-items: center
}

@media(max-width: 736px) {
    ._2OzXITTXufYJNZ-lnovIQ {
        width:100%!important;
        margin-top: 20px
    }
}

._1Nfu-I0hVx7MK8klTPYRdY {
    font-family: GTSectraDisplay-Regular;
    color: #fff;
    font-size: 50px;
    font-weight: 400;
    letter-spacing: .04em;
    text-align: center;
    margin-top: 130px;
    margin-bottom: 80px
}

@media(max-width: 736px) {
    ._1Nfu-I0hVx7MK8klTPYRdY {
        margin-top:50px;
        margin-bottom: 50px
    }
}

._1rnJQo_hRQlRsEMzohuPFF {
    padding-left: 0;
    margin-left: 25%;
    margin-top: 20px
}

.lRV6als2W43N9zWDs5300 {
    font-family: Akkurat Pro;
    font-weight: 400;
    color: #fff;
    font-size: 13px;
    line-height: 18px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    margin-bottom: 2px;
    margin-right: 30px;
    opacity: 1
}

._2RQONw6Qd7Lh8khGiY4xw5 {
    margin: 0
}

._2mLG3NNJb8F516xHWdVi6I {
    display: block;
    margin-bottom: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-direction: row;
    flex-direction: row;
    position: relative
}

._1tqiehGTPdL5lQbrJtRBg2 {
    font-family: Maison Neue Mono;
    font-size: 12px;
    width: 25%;
    display: block
}

._1tqiehGTPdL5lQbrJtRBg2,._2g3DPeoNiTrZI4v0HNoZbQ {
    color: #fff;
    line-height: 20px;
    text-align: left;
    font-weight: 400
}

._2g3DPeoNiTrZI4v0HNoZbQ {
    font-family: Akkurat Pro;
    opacity: .65;
    font-size: 13px;
    margin-bottom: 10px;
    width: 75%
}

._1rleEZXmlIeCkOXiE8uZNB {
    opacity: 1
}

._1rleEZXmlIeCkOXiE8uZNB span {
    opacity: .65
}

._1rleEZXmlIeCkOXiE8uZNB a {
    opacity: 1
}

.moveJuznpjbVxUDmyEIBj {
    width: 130px;
    height: auto;
    position: absolute;
    right: -70px;
    bottom: -80px
}

.Yc34KESxb6BwdHpvqUeon {
    min-height: 400vh;
    position: relative;
    background-color: #fff
}

._2C6e36oOvaGJrLa3hTIJVi {
    width: 100%;
    height: 100vh;
    position: relative
}

._1efsFwFHK4sY26MIX-kLOB {
    position: relative;
    z-index: -1
}

._3iNVAfFp70MMsWClJ15VWY {
    font-family: Akkurat Light Pro;
    font-weight: 200;
    color: #2f2f2f;
    font-size: 30px;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: .01em;
    text-align: center;
    margin-top: 100px
}

@media(max-width: 736px) {
    ._3iNVAfFp70MMsWClJ15VWY {
        display:-ms-flexbox;
        display: flex;
        -ms-flex-direction: column;
        flex-direction: column;
        -ms-flex-pack: center;
        justify-content: center;
        -ms-flex-align: center;
        align-items: center
    }
}

._3eAG2h7OVhsY_kTykXNC0M {
    font-family: Akkurat Light Pro;
    font-weight: 200;
    color: #2f2f2f;
    font-family: GTSectraDisplay-Regular;
    font-size: 120px;
    font-weight: 400;
    margin-bottom: 40px;
    letter-spacing: .01em;
    text-align: center;
    margin-top: 100px;
    white-space: nowrap
}

@media(max-width: 736px) {
    ._3eAG2h7OVhsY_kTykXNC0M {
        font-size:60px
    }
}

._1ZnJdRczAONaXo6wbdj7hg {
    position: absolute;
    left: 60%;
    top: 30%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

@media(max-width: 736px) {
    ._1ZnJdRczAONaXo6wbdj7hg {
        left:50%
    }
}

._1hHR7WxBnaxzjYNuzVMTHa {
    position: absolute;
    left: 30%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

@media(max-width: 736px) {
    ._1hHR7WxBnaxzjYNuzVMTHa {
        left:50%
    }
}

._1bpd_hGBM5yz-m8ETDiPgL {
    position: absolute;
    left: 60%;
    top: 70%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%)
}

@media(max-width: 736px) {
    ._1bpd_hGBM5yz-m8ETDiPgL {
        left:50%
    }
}

._1CUQ47O5qW7kW1oUix77A3 {
    position: absolute;
    left: 60%;
    top: 50%;
    -ms-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);
    white-space: nowrap
}

@media(max-width: 736px) {
    ._1CUQ47O5qW7kW1oUix77A3 {
        left:50%
    }
}

._2HBzqxWLLjvnb0qhI9Bx8Y {
    display: inline-block
}

/*!normalize.css v5.0.0 | MIT License | github.com/necolas/normalize.css*/
html {
    font-family: sans-serif;
    line-height: 1.15;
    -ms-text-size-adjust: 100%;
    -webkit-text-size-adjust: 100%
}

article,aside,footer,header,nav,section {
    display: block
}

h1 {
    font-size: 2em;
    margin: .67em 0
}

figcaption,figure,main {
    display: block
}

figure {
    margin: 1em 40px
}

hr {
    box-sizing: content-box;
    height: 0;
    overflow: visible
}

pre {
    font-family: monospace,monospace;
    font-size: 1em
}

a {
    background-color: transparent;
    -webkit-text-decoration-skip: objects
}

a:active,a:hover {
    outline-width: 0
}

abbr[title] {
    border-bottom: none;
    text-decoration: underline;
    text-decoration: underline dotted
}

b,strong {
    font-weight: inherit;
    font-weight: bolder
}

code,kbd,samp {
    font-family: monospace,monospace;
    font-size: 1em
}

dfn {
    font-style: italic
}

mark {
    background-color: #ff0;
    color: #000
}

small {
    font-size: 80%
}

sub,sup {
    font-size: 75%;
    line-height: 0;
    position: relative;
    vertical-align: baseline
}

sub {
    bottom: -.25em
}

sup {
    top: -.5em
}

audio,video {
    display: inline-block
}

audio:not([controls]) {
    display: none;
    height: 0
}

img {
    border-style: none
}

svg:not(:root) {
    overflow: hidden
}

button,input,optgroup,select,textarea {
    font-family: sans-serif;
    font-size: 100%;
    line-height: 1.15;
    margin: 0
}

button,input {
    overflow: visible
}

button,select {
    text-transform: none
}

[type=reset],[type=submit],button,html [type=button] {
    -webkit-appearance: button
}

[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner,button::-moz-focus-inner {
    border-style: none;
    padding: 0
}

[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring,button:-moz-focusring {
    outline: 1px dotted ButtonText
}

fieldset {
    border: 1px solid silver;
    margin: 0 2px;
    padding: .35em .625em .75em
}

legend {
    box-sizing: border-box;
    color: inherit;
    display: table;
    max-width: 100%;
    padding: 0;
    white-space: normal
}

progress {
    display: inline-block;
    vertical-align: baseline
}

textarea {
    overflow: auto
}

[type=checkbox],[type=radio] {
    box-sizing: border-box;
    padding: 0
}

[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button {
    height: auto
}

[type=search] {
    -webkit-appearance: textfield;
    outline-offset: -2px
}

[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration {
    -webkit-appearance: none
}

::-webkit-file-upload-button {
    -webkit-appearance: button;
    font: inherit
}

details,menu {
    display: block
}

summary {
    display: list-item
}

canvas {
    display: inline-block
}

[hidden],template {
    display: none
}

/*!Reflex v1.2.0 - https://github.com/leejordan/reflex*/
.grid {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    *display: inline;
    zoom:1;-ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding: 0;
    margin: 0;
    position: relative;
    width: 100%;
    max-width: 100%;
    letter-spacing: -.31em!important;
    *letter-spacing: normal!important;
    word-spacing: -.43em!important;
    list-style-type: none
}

.grid:after,.grid:before {
    max-width: 100%
}

.grid:after,.grid :after,.grid:before,.grid :before {
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal
}

.grid .grid {
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

.grid *,.grid :after,.grid :before {
    box-sizing: border-box
}

[class*=grid__col-] {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    *display: inline;
    zoom:1;-ms-flex-direction: column;
    flex-direction: column;
    letter-spacing: normal;
    word-spacing: normal;
    white-space: normal;
    position: relative;
    width: 100%;
    vertical-align: top;
    padding: 1em
}

.grid__cell {
    position: relative;
    display: block;
    -ms-flex: 1 1 auto;
    flex: 1 1 auto
}

:root .grid__cell,_:-ms-fullscreen {
    width: 100%
}

.grid__col-12 {
    width: 100%;
    *width: 99.9%
}

.grid__col-11 {
    width: 91.66666667%;
    *width: 91.56666667%
}

.grid__col-10 {
    width: 83.33333333%;
    *width: 83.23333333%
}

.grid__col-9 {
    width: 75%;
    *width: 74.9%
}

.grid__col-8 {
    width: 66.66666667%;
    *width: 66.56666667%
}

.grid__col-7 {
    width: 58.33333333%;
    *width: 58.23333333%
}

.grid__col-6 {
    width: 50%;
    *width: 49.9%
}

.grid__col-5 {
    width: 41.66666667%;
    *width: 41.56666667%
}

.grid__col-4 {
    width: 33.33333333%;
    *width: 33.23333333%
}

.grid__col-3 {
    width: 25%;
    *width: 24.9%
}

.grid__col-2 {
    width: 16.66666667%;
    *width: 16.56666667%
}

.grid__col-1 {
    width: 8.33333333%;
    *width: 8.23333333%
}

@media(min-width: 480px) {
    .grid__col-xs-12 {
        width:100%;
        *width: 99.9%
    }

    .grid__col-xs-11 {
        width: 91.66666667%;
        *width: 91.56666667%
    }

    .grid__col-xs-10 {
        width: 83.33333333%;
        *width: 83.23333333%
    }

    .grid__col-xs-9 {
        width: 75%;
        *width: 74.9%
    }

    .grid__col-xs-8 {
        width: 66.66666667%;
        *width: 66.56666667%
    }

    .grid__col-xs-7 {
        width: 58.33333333%;
        *width: 58.23333333%
    }

    .grid__col-xs-6 {
        width: 50%;
        *width: 49.9%
    }

    .grid__col-xs-5 {
        width: 41.66666667%;
        *width: 41.56666667%
    }

    .grid__col-xs-4 {
        width: 33.33333333%;
        *width: 33.23333333%
    }

    .grid__col-xs-3 {
        width: 25%;
        *width: 24.9%
    }

    .grid__col-xs-2 {
        width: 16.66666667%;
        *width: 16.56666667%
    }

    .grid__col-xs-1 {
        width: 8.33333333%;
        *width: 8.23333333%
    }
}

@media(min-width: 768px) {
    .grid__col-sm-12 {
        width:100%;
        *width: 99.9%
    }

    .grid__col-sm-11 {
        width: 91.66666667%;
        *width: 91.56666667%
    }

    .grid__col-sm-10 {
        width: 83.33333333%;
        *width: 83.23333333%
    }

    .grid__col-sm-9 {
        width: 75%;
        *width: 74.9%
    }

    .grid__col-sm-8 {
        width: 66.66666667%;
        *width: 66.56666667%
    }

    .grid__col-sm-7 {
        width: 58.33333333%;
        *width: 58.23333333%
    }

    .grid__col-sm-6 {
        width: 50%;
        *width: 49.9%
    }

    .grid__col-sm-5 {
        width: 41.66666667%;
        *width: 41.56666667%
    }

    .grid__col-sm-4 {
        width: 33.33333333%;
        *width: 33.23333333%
    }

    .grid__col-sm-3 {
        width: 25%;
        *width: 24.9%
    }

    .grid__col-sm-2 {
        width: 16.66666667%;
        *width: 16.56666667%
    }

    .grid__col-sm-1 {
        width: 8.33333333%;
        *width: 8.23333333%
    }
}

@media(min-width: 992px) {
    .grid__col-md-12 {
        width:100%;
        *width: 99.9%
    }

    .grid__col-md-11 {
        width: 91.66666667%;
        *width: 91.56666667%
    }

    .grid__col-md-10 {
        width: 83.33333333%;
        *width: 83.23333333%
    }

    .grid__col-md-9 {
        width: 75%;
        *width: 74.9%
    }

    .grid__col-md-8 {
        width: 66.66666667%;
        *width: 66.56666667%
    }

    .grid__col-md-7 {
        width: 58.33333333%;
        *width: 58.23333333%
    }

    .grid__col-md-6 {
        width: 50%;
        *width: 49.9%
    }

    .grid__col-md-5 {
        width: 41.66666667%;
        *width: 41.56666667%
    }

    .grid__col-md-4 {
        width: 33.33333333%;
        *width: 33.23333333%
    }

    .grid__col-md-3 {
        width: 25%;
        *width: 24.9%
    }

    .grid__col-md-2 {
        width: 16.66666667%;
        *width: 16.56666667%
    }

    .grid__col-md-1 {
        width: 8.33333333%;
        *width: 8.23333333%
    }
}

@media(min-width: 1200px) {
    .grid__col-lg-12 {
        width:100%;
        *width: 99.9%
    }

    .grid__col-lg-11 {
        width: 91.66666667%;
        *width: 91.56666667%
    }

    .grid__col-lg-10 {
        width: 83.33333333%;
        *width: 83.23333333%
    }

    .grid__col-lg-9 {
        width: 75%;
        *width: 74.9%
    }

    .grid__col-lg-8 {
        width: 66.66666667%;
        *width: 66.56666667%
    }

    .grid__col-lg-7 {
        width: 58.33333333%;
        *width: 58.23333333%
    }

    .grid__col-lg-6 {
        width: 50%;
        *width: 49.9%
    }

    .grid__col-lg-5 {
        width: 41.66666667%;
        *width: 41.56666667%
    }

    .grid__col-lg-4 {
        width: 33.33333333%;
        *width: 33.23333333%
    }

    .grid__col-lg-3 {
        width: 25%;
        *width: 24.9%
    }

    .grid__col-lg-2 {
        width: 16.66666667%;
        *width: 16.56666667%
    }

    .grid__col-lg-1 {
        width: 8.33333333%;
        *width: 8.23333333%
    }
}

@media(min-width: 1600px) {
    .grid__col-xlg-12 {
        width:100%;
        *width: 99.9%
    }

    .grid__col-xlg-11 {
        width: 91.66666667%;
        *width: 91.56666667%
    }

    .grid__col-xlg-10 {
        width: 83.33333333%;
        *width: 83.23333333%
    }

    .grid__col-xlg-9 {
        width: 75%;
        *width: 74.9%
    }

    .grid__col-xlg-8 {
        width: 66.66666667%;
        *width: 66.56666667%
    }

    .grid__col-xlg-7 {
        width: 58.33333333%;
        *width: 58.23333333%
    }

    .grid__col-xlg-6 {
        width: 50%;
        *width: 49.9%
    }

    .grid__col-xlg-5 {
        width: 41.66666667%;
        *width: 41.56666667%
    }

    .grid__col-xlg-4 {
        width: 33.33333333%;
        *width: 33.23333333%
    }

    .grid__col-xlg-3 {
        width: 25%;
        *width: 24.9%
    }

    .grid__col-xlg-2 {
        width: 16.66666667%;
        *width: 16.56666667%
    }

    .grid__col-xlg-1 {
        width: 8.33333333%;
        *width: 8.23333333%
    }
}

.grid__col-auto {
    -ms-flex: 1 0 auto;
    -ms-flex: 1 0 0;
    flex: 1 0 0px;
    width: auto!important;
    max-width: 100%
}

@media(min-width: 480px) {
    .grid__col-xs-auto {
        -ms-flex:1 0 auto;
        -ms-flex: 1 0 0;
        flex: 1 0 0px;
        width: auto!important;
        max-width: 100%
    }
}

@media(min-width: 768px) {
    .grid__col-sm-auto {
        -ms-flex:1 0 auto;
        -ms-flex: 1 0 0;
        flex: 1 0 0px;
        width: auto!important;
        max-width: 100%
    }
}

@media(min-width: 992px) {
    .grid__col-md-auto {
        -ms-flex:1 0 auto;
        -ms-flex: 1 0 0;
        flex: 1 0 0px;
        width: auto!important;
        max-width: 100%
    }
}

@media(min-width: 1200px) {
    .grid__col-lg-auto {
        -ms-flex:1 0 auto;
        -ms-flex: 1 0 0;
        flex: 1 0 0px;
        width: auto!important;
        max-width: 100%
    }
}

@media(min-width: 1600px) {
    .grid__col-xlg-auto {
        -ms-flex:1 0 auto;
        -ms-flex: 1 0 0;
        flex: 1 0 0px;
        width: auto!important;
        max-width: 100%
    }
}

.grid--order-12 {
    -ms-flex-order: 12;
    order: 12
}

.grid--order-11 {
    -ms-flex-order: 11;
    order: 11
}

.grid--order-10 {
    -ms-flex-order: 10;
    order: 10
}

.grid--order-9 {
    -ms-flex-order: 9;
    order: 9
}

.grid--order-8 {
    -ms-flex-order: 8;
    order: 8
}

.grid--order-7 {
    -ms-flex-order: 7;
    order: 7
}

.grid--order-6 {
    -ms-flex-order: 6;
    order: 6
}

.grid--order-5 {
    -ms-flex-order: 5;
    order: 5
}

.grid--order-4 {
    -ms-flex-order: 4;
    order: 4
}

.grid--order-3 {
    -ms-flex-order: 3;
    order: 3
}

.grid--order-2 {
    -ms-flex-order: 2;
    order: 2
}

.grid--order-1 {
    -ms-flex-order: 1;
    order: 1
}

.grid--order-0 {
    -ms-flex-order: 0;
    order: 0
}

@media only screen and (min-width: 480px) {
    .grid--order-12-xs {
        -ms-flex-order:12;
        order: 12
    }

    .grid--order-11-xs {
        -ms-flex-order: 11;
        order: 11
    }

    .grid--order-10-xs {
        -ms-flex-order: 10;
        order: 10
    }

    .grid--order-9-xs {
        -ms-flex-order: 9;
        order: 9
    }

    .grid--order-8-xs {
        -ms-flex-order: 8;
        order: 8
    }

    .grid--order-7-xs {
        -ms-flex-order: 7;
        order: 7
    }

    .grid--order-6-xs {
        -ms-flex-order: 6;
        order: 6
    }

    .grid--order-5-xs {
        -ms-flex-order: 5;
        order: 5
    }

    .grid--order-4-xs {
        -ms-flex-order: 4;
        order: 4
    }

    .grid--order-3-xs {
        -ms-flex-order: 3;
        order: 3
    }

    .grid--order-2-xs {
        -ms-flex-order: 2;
        order: 2
    }

    .grid--order-1-xs {
        -ms-flex-order: 1;
        order: 1
    }

    .grid--order-0-xs {
        -ms-flex-order: 0;
        order: 0
    }
}

@media only screen and (min-width: 768px) {
    .grid--order-12-sm {
        -ms-flex-order:12;
        order: 12
    }

    .grid--order-11-sm {
        -ms-flex-order: 11;
        order: 11
    }

    .grid--order-10-sm {
        -ms-flex-order: 10;
        order: 10
    }

    .grid--order-9-sm {
        -ms-flex-order: 9;
        order: 9
    }

    .grid--order-8-sm {
        -ms-flex-order: 8;
        order: 8
    }

    .grid--order-7-sm {
        -ms-flex-order: 7;
        order: 7
    }

    .grid--order-6-sm {
        -ms-flex-order: 6;
        order: 6
    }

    .grid--order-5-sm {
        -ms-flex-order: 5;
        order: 5
    }

    .grid--order-4-sm {
        -ms-flex-order: 4;
        order: 4
    }

    .grid--order-3-sm {
        -ms-flex-order: 3;
        order: 3
    }

    .grid--order-2-sm {
        -ms-flex-order: 2;
        order: 2
    }

    .grid--order-1-sm {
        -ms-flex-order: 1;
        order: 1
    }

    .grid--order-0-sm {
        -ms-flex-order: 0;
        order: 0
    }
}

@media only screen and (min-width: 992px) {
    .grid--order-12-md {
        -ms-flex-order:12;
        order: 12
    }

    .grid--order-11-md {
        -ms-flex-order: 11;
        order: 11
    }

    .grid--order-10-md {
        -ms-flex-order: 10;
        order: 10
    }

    .grid--order-9-md {
        -ms-flex-order: 9;
        order: 9
    }

    .grid--order-8-md {
        -ms-flex-order: 8;
        order: 8
    }

    .grid--order-7-md {
        -ms-flex-order: 7;
        order: 7
    }

    .grid--order-6-md {
        -ms-flex-order: 6;
        order: 6
    }

    .grid--order-5-md {
        -ms-flex-order: 5;
        order: 5
    }

    .grid--order-4-md {
        -ms-flex-order: 4;
        order: 4
    }

    .grid--order-3-md {
        -ms-flex-order: 3;
        order: 3
    }

    .grid--order-2-md {
        -ms-flex-order: 2;
        order: 2
    }

    .grid--order-1-md {
        -ms-flex-order: 1;
        order: 1
    }

    .grid--order-0-md {
        -ms-flex-order: 0;
        order: 0
    }
}

@media only screen and (min-width: 1200px) {
    .grid--order-12-lg {
        -ms-flex-order:12;
        order: 12
    }

    .grid--order-11-lg {
        -ms-flex-order: 11;
        order: 11
    }

    .grid--order-10-lg {
        -ms-flex-order: 10;
        order: 10
    }

    .grid--order-9-lg {
        -ms-flex-order: 9;
        order: 9
    }

    .grid--order-8-lg {
        -ms-flex-order: 8;
        order: 8
    }

    .grid--order-7-lg {
        -ms-flex-order: 7;
        order: 7
    }

    .grid--order-6-lg {
        -ms-flex-order: 6;
        order: 6
    }

    .grid--order-5-lg {
        -ms-flex-order: 5;
        order: 5
    }

    .grid--order-4-lg {
        -ms-flex-order: 4;
        order: 4
    }

    .grid--order-3-lg {
        -ms-flex-order: 3;
        order: 3
    }

    .grid--order-2-lg {
        -ms-flex-order: 2;
        order: 2
    }

    .grid--order-1-lg {
        -ms-flex-order: 1;
        order: 1
    }

    .grid--order-0-lg {
        -ms-flex-order: 0;
        order: 0
    }
}

@media only screen and (min-width: 1600px) {
    .grid--order-12-xlg {
        -ms-flex-order:12;
        order: 12
    }

    .grid--order-11-xlg {
        -ms-flex-order: 11;
        order: 11
    }

    .grid--order-10-xlg {
        -ms-flex-order: 10;
        order: 10
    }

    .grid--order-9-xlg {
        -ms-flex-order: 9;
        order: 9
    }

    .grid--order-8-xlg {
        -ms-flex-order: 8;
        order: 8
    }

    .grid--order-7-xlg {
        -ms-flex-order: 7;
        order: 7
    }

    .grid--order-6-xlg {
        -ms-flex-order: 6;
        order: 6
    }

    .grid--order-5-xlg {
        -ms-flex-order: 5;
        order: 5
    }

    .grid--order-4-xlg {
        -ms-flex-order: 4;
        order: 4
    }

    .grid--order-3-xlg {
        -ms-flex-order: 3;
        order: 3
    }

    .grid--order-2-xlg {
        -ms-flex-order: 2;
        order: 2
    }

    .grid--order-1-xlg {
        -ms-flex-order: 1;
        order: 1
    }

    .grid--order-0-xlg {
        -ms-flex-order: 0;
        order: 0
    }
}

.grid--bleed [class*=grid__col-] {
    padding: 0
}

.grid--wrap {
    -ms-flex-wrap: wrap;
    flex-wrap: wrap
}

.grid--no-wrap {
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap
}

.grid--wrap-reverse {
    -ms-flex-wrap: wrap-reverse;
    flex-wrap: wrap-reverse
}

.grid--direction-row {
    -ms-flex-direction: row;
    flex-direction: row
}

.grid--direction-row-reverse {
    -ms-flex-direction: row-reverse;
    flex-direction: row-reverse
}

.grid--direction-column {
    -ms-flex-direction: column;
    flex-direction: column
}

.grid--direction-column-reverse {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
}

.grid--align-start {
    -ms-flex-align: start;
    -ms-flex-align: flex-start;
    -ms-grid-row-align: flex-start;
    align-items: flex-start
}

.grid--align-end {
    -ms-flex-align: end;
    -ms-flex-align: flex-end;
    -ms-grid-row-align: flex-end;
    align-items: flex-end
}

.grid--align-end [class*=grid__col-] {
    vertical-align: bottom
}

.grid--align-center {
    -ms-flex-align: center;
    -ms-grid-row-align: center;
    align-items: center
}

.grid--align-center [class*=grid__col-] {
    vertical-align: middle
}

.grid--align-baseline {
    -ms-flex-align: baseline;
    -ms-grid-row-align: baseline;
    align-items: baseline
}

.grid--align-baseline [class*=grid__col-] {
    vertical-align: baseline
}

.grid--align-content-start {
    -ms-flex-line-pack: start;
    -ms-flex-line-pack: flex-start;
    align-content: flex-start
}

.grid--align-content-end {
    -ms-flex-line-pack: end;
    -ms-flex-line-pack: flex-end;
    align-content: flex-end
}

.grid--align-content-end [class*=grid__col-] {
    vertical-align: bottom
}

.grid--align-content-center {
    -ms-flex-line-pack: center;
    align-content: center
}

.grid--align-content-space-between {
    -ms-flex-line-pack: space-between;
    align-content: space-between
}

.grid--align-content-space-around {
    -ms-flex-line-pack: space-around;
    align-content: space-around
}

.grid--align-self-stretch {
    -ms-flex-item-align: stretch;
    align-self: stretch
}

.grid--align-self-start {
    -ms-flex-item-align: start;
    -ms-flex-item-align: flex-start;
    align-self: flex-start
}

.grid--align-self-end {
    -ms-flex-item-align: end;
    -ms-flex-item-align: flex-end;
    align-self: flex-end;
    vertical-align: bottom
}

.grid--align-self-center {
    -ms-flex-item-align: center;
    align-self: center;
    vertical-align: middle
}

.grid--align-self-baseline {
    -ms-flex-item-align: baseline;
    align-self: baseline;
    vertical-align: baseline
}

.grid--justify-start {
    text-align: left;
    -ms-flex-pack: start;
    justify-content: flex-start
}

.grid--justify-end {
    text-align: right;
    -moz-text-align-last: right;
    text-align-last: right;
    -ms-flex-pack: end;
    justify-content: flex-end
}

.grid--justify-end .grid__cell,.grid--justify-end [class*=grid__col-] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: auto
}

.grid--justify-center {
    text-align: center;
    -moz-text-align-last: center;
    text-align-last: center;
    -ms-flex-pack: center;
    justify-content: center
}

.grid--justify-center .grid__cell,.grid--justify-center [class*=grid__col-] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: auto
}

.grid--justify-space-between {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    -ms-flex-pack: justify;
    justify-content: space-between
}

.grid--justify-space-between .grid__cell,.grid--justify-space-between [class*=grid__col-] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: auto
}

.grid--justify-space-around {
    text-align: justify;
    -moz-text-align-last: justify;
    text-align-last: justify;
    -ms-flex-pack: justify;
    justify-content: space-around
}

.grid--justify-space-around .grid__cell,.grid--justify-space-around [class*=grid__col-] {
    text-align: left;
    text-align: start;
    text-align: initial;
    -moz-text-align-last: left;
    -moz-text-align-last: start;
    -moz-text-align-last: initial;
    text-align-last: left;
    text-align-last: start;
    text-align-last: auto
}

.grid__col--bleed {
    padding: 0
}

.grid__col--bleed-x {
    padding: 1em 0
}

.grid__col--bleed-y {
    padding: 0 1em
}

.grid__col--bg {
    background-repeat: no-repeat;
    background-position: 50%;
    background-size: cover;
    padding-bottom: 50%
}

.grid__cell--padding-sm {
    padding: .5em
}

.grid__cell--padding-md {
    padding: 1em
}

.grid__cell--padding-lg {
    padding: 2em
}

.grid__cell-img {
    display: block;
    display: -ms-flexbox;
    display: flex;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    margin-left: 0;
    margin-right: 0;
    max-width: 100%;
    width: 100%;
    height: auto
}

.grid__cell-footer {
    display: inline-block;
    display: -ms-flexbox;
    display: flex;
    *display: inline;
    zoom:1;width: 100%;
    margin-top: auto
}

* {
    text-rendering: optimizeLegibility!important;
    -webkit-font-smoothing: antialiased!important;
    font-smoothing: antialiased!important;
    -moz-osx-font-smoothing: grayscale!important
}

@font-face {
    font-family: Akkurat Light Pro;
    src: url(/assets/fonts/subset-AkkuratLightPro-Regular.woff2) format("woff2"),url(/assets/fonts/subset-AkkuratLightPro-Regular.woff) format("woff");
    font-weight: 200;
    font-style: normal
}

@font-face {
    font-family: Akkurat Pro;
    src: url(/assets/fonts/subset-AkkuratPro-Bold.woff2) format("woff2"),url(/assets/fonts/subset-AkkuratPro-Bold.woff) format("woff");
    font-weight: 700;
    font-style: normal
}

@font-face {
    font-family: Akkurat Pro;
    src: url(/assets/fonts/subset-AkkuratPro-Regular.woff2) format("woff2"),url(/assets/fonts/subset-AkkuratPro-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: Maison Neue Mono;
    src: url(/assets/fonts/subset-MaisonNeue-Mono.woff2) format("woff2"),url(/assets/fonts/subset-MaisonNeue-Mono.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GTSectraDisplay-Regular;
    src: url(/assets/fonts/subset-GTSectraDisplay-Regular.woff2) format("woff2"),url(/assets/fonts/subset-GTSectraDisplay-Regular.woff) format("woff");
    font-weight: 400;
    font-style: normal
}

@font-face {
    font-family: GTSectraDisplay-Light;
    src: url(/assets/fonts/subset-GTSectraDisplay-Light.woff2) format("woff2"),url(/assets/fonts/subset-GTSectraDisplay-Light.woff) format("woff");
    font-weight: 200;
    font-style: normal
}

body {
    padding: 0;
    font-family: Akkurat Pro
}

body,body * {
    margin: 0
}

.statsjs {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 99
}

.page-wrapper {
    position: relative;
    overflow: hidden
}

.letter {
    height: 70px;
    line-height: 90px;
    display: inline-block
}

.Typist {
    font-family: Akkurat Light Pro;
    font-weight: 200;
    color: #333;
    font-size: 18px;
    font-weight: 400;
    letter-spacing: .02em;
    text-align: center;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none
}

.Typist .Cursor--blinking {
    opacity: 1;
    animation: blink 1s linear infinite
}

@keyframes blink {
    0% {
        opacity: 1
    }

    50% {
        opacity: 0
    }

    to {
        opacity: 1
    }
}

.circle-letter {
    position: absolute;
    width: 20px;
    left: 0;
    top: 0;
    -ms-transform-origin: bottom center;
    transform-origin: bottom center;
    height: 70px;
    left: 50%;
    margin-left: -9px;
    top: -7px;
    text-transform: uppercase;
    font-family: Akkurat Pro;
    font-weight: 400;
    font-size: 12px
}

.unactive .letter {
    color: #000;
    opacity: .035
}
