*::-moz-selection {
    background: #3f00e6;
    color: #fff
}

*::selection {
    background: #3f00e6;
    color: #fff
}

.color_bg,.color_bg_af:after,#ld .bg,#cl .bg>div,#n .nl .bg,.scrollbar-track-y .scrollbar-thumb:before,#co,#we .smc .smc_s-tit,#we .smc .smc_lg>div,#we .smc .fi,#sv .rnd>div>div,.tag:after,#a .r button:after,.ltml,#map .marker,.ec .list-s i:after,.swe .bg,#ck {
    background: linear-gradient(320deg,#3f00e6,#7f00fd)!important
}

.drg,#sc .ls h4 strong,.afar .gct a small:before,#a .gcat a small:before,html:not(.ie) #we .wem .wew>div,#e .lgtxt h3 span,#e .lgtxt h2 strong,.ec .resul .tit small,.afar .p a:not([data-editor-btn]),#sc .p a:not([data-editor-btn]):not(.btn),#h .pho .phone:before,.def .p ul li:before {
    background: linear-gradient(to right,#3f00e6,#7f00fd);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent
}

#wr .wrl .line,.btn:before,.line-ec .ln {
    background: linear-gradient(to right,#3f00e6,#7f00fd)
}

.bn svg {
    stroke: #3f00e6
}

.js-color-bg {
    fill: #3f00e6
}

.swe .fab:hover,.ec .nxt a:hover .tc,.ec [data-go]:hover,.line-ec .lp>div:hover,.shre a:hover,#n .nr a:hover,#n .nr .art li:hover a,html.ie #we .wem .wew>div,[data-range] .value,.color_h:hover,#wr .ckb:hover,.c1,#f .inf>*:hover,#f a:hover,html:not(.mob) #cof .slc li>div:hover,#cof .btf:hover,.tag:hover {
    color: #3f00e6
}

#wr input:checked+.ckb,#we .smc .smc_ul span>span {
    border-color: #3f00e6
}

#map .mapboxgl-ctrl-group>button:hover,.eth [data-cursor] .cur2,.tInf time:after {
    background: #3f00e6
}
